.titleFavorite {
  margin-bottom: 30px;
  text-align: center;
  color: #3470ff;
}

.listFavorite {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 29px;
  row-gap: 50px;
  width: 1184px;
}

.itemFavorite {
  position: relative;
  width: 274px;
  height: 426px;
}

.textError {
  font-size: 20px;
  color: #3470ff;
}
