.boxFilter {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 18px;
}

.labelSelect {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #8a8a89;
  font-weight: 500;
}

.inputBox {
  display: flex;
}

.inputMileageLeft {
  margin-top: 8px;
  width: 160px;
  height: 48px;
  border-radius: 14px 0px 0px 14px;
  border: 0;
  background-color: #f7f7fb;
  padding: 14px 0 14px 24px;
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.inputMileageRight {
  margin-top: 8px;
  width: 160px;
  height: 48px;
  border-radius: 0px 14px 14px 0px;
  border: 0;
  background-color: #f7f7fb;
  padding: 14px 0 14px 24px;
  color: #121417;
  font-size: 18px;
  font-weight: 500;
}

.inputMileage:focus {
  border-color: 1px solid #121417;
}

.btnFilter {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 12px;
  background-color: #3470ff;
  width: 136px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear;
}

.btnFilter:hover,
.btnFilter:focus {
  background-color: #0b44cd;
}
