.navBox {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navBox > a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3470ff;
  color: #3470ff;
  border-radius: 6px;
  width: 150px;
  height: 30px;
  transition: all 250ms linear;
}

.inactive {
  transition: transform 250ms linear;
}

.inactive:hover,
.inactive:focus {
  transform: scale(1.07);
}

.navBox > .active {
  background-color: #3470ff;
  color: #fff;
}
