.navBox {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3470ff;
  border-radius: 6px;
  color: #fff;
  width: 150px;
  height: 30px;
  transition: all 250ms linear;
}

.navLink:hover,
.navLink:focus {
  transform: scale(1.05);
  background-color: #0b44cd;
}
