.wrapper {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textLoader {
  font-size: 18px;
  color: #3470ff;
}

.boxSuspense {
  display: flex;
  gap: 10px;
  align-items: center;
}
