.modalImgCar {
  border-radius: 14px;
  margin-bottom: 14px;
}

.modalMainText {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.modalAddText {
  font-size: 12px;
  color: rgba(18, 20, 23, 0.5);
  margin-bottom: 14px;
}

.colorText {
  color: #3470ff;
}

.modalDescrText {
  font-size: 14px;
  margin-bottom: 24px;
}

.modalAcrrssorText {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.modalFunctionText {
  font-size: 12px;
  color: rgba(18, 20, 23, 0.5);
  margin-bottom: 24px;
}

.modalConditions {
  margin-bottom: 8px;
}

.listConditions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 12px;
  color: #363535;
  margin-bottom: 24px;
  line-height: 1.1;
}

.modalConditionItem {
  padding: 7px 14px;
  border-radius: 35px;
  background-color: #f9f9f9;
}

.modalCondition {
  font-family: "Montserrat", sans-serif;
  padding: 7px 14px;
  border-radius: 35px;
  background-color: #f9f9f9;
  letter-spacing: -0.24px;
}

.modalBtnRental {
  border-radius: 12px;
  background-color: #3470ff;
  width: 168px;
  height: 44px;
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  transition: background-color 250ms linear;
}

.linkRental {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBtnRental:hover,
.modalBtnRental:focus {
  background-color: #0b44cd;
}

.btnCloseModal {
  position: absolute;
  top: 16px;
  right: 16px;
  transition: transform, 350ms linear;
}

.btnCloseModal:hover,
.btnCloseModal:focus {
  transform: scale(1.1);
}
